{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ auth.credentials.name }}</span>
        Start a new annual health and welfare review application
      </h1>

      <span class="govuk-caption-l">{{ auth.credentials.organisationId }}</span>
      <h2 class="govuk-heading-l">Your organisation</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/tasks">Tasks</a>
        </li>
        <li>
          <a class="govuk-link" href="http://localhost:3000/messages">Messages</a>
        </li>
        <li>
          <a class="govuk-link" href="{{ singleFrontDoorUrl }}">Return to Single Front Door</a>
        </li>
      </ul>
    <h2 class="govuk-heading-s">For demo purposes only:</h2>
    <a class="govuk-link" href="/submit">Submit a message</a>
    </div>
  </div>
{% endblock %}
