{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
        text: "Home",
        href: "/home",
        attributes: {
          id: "home"
        }
      }) 
    }}
{% endblock %}

{% block content %}
    <div class="govuk-form-group">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="crn-input">
          Please enter your CRN (Customer Reference Number)
        </label>
      </h3>

      <form action="/submit" method="POST">  
        <div class="govuk-grid-column-two-thirds">
          <input class="govuk-input" id="scheme" name="crn" type="text">
          <input type="hidden" name="crumb" value="{{crumb}}">
        </div>  
        
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            Submit
        </button>
      </form>
    </div>
{% endblock %}