{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
        text: "Home",
        href: "/home",
        attributes: {
          id: "home"
        }
      }) 
    }}
{% endblock %}

{% block content %}

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="scheme-name">
        For which scheme are you submitting an claim towards?
      </label>
    </h1>
    <input class="govuk-input" id="scheme" name="scheme-input" type="text">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="reason">
        Why are you submitting a claim to this scheme?
      </label>
    </h1>
    <input class="govuk-input" id="reason" name="reason-input" type="text">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="comments">
        Do you have any comments you want to include with your application?
      </label>
    </h1>
    <input class="govuk-input" id="comments" name="comments-input" type="text">

    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
       Submit
    </button>
  </div>
{% endblock %}